<a href="https://colab.research.google.com/github/OlgaShishikina/stepik/blob/main/1_8_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
d = {'type': ['A','A','B','B'], 'value': [10,14,12,23]}
my_data = pd.DataFrame(data=d)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [4]:
ms = pd.read_csv("my_stat.csv")
ms.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [ ]:
#В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
#subset_1 = ms.iloc[:10, lambda df: [0, 2]]
subset_1 = ms.iloc[:10, [0, 2]]
subset_2 = ms[['V2','V4']].drop(ms.index[[0,4]])
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

In [ ]:
#В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.
subset_2 = ms[['V2','V4']].drop(ms.index[[0,4]])

In [15]:
#В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'
my_stat = pd.read_csv("my_stat.csv")
subset_1 = my_stat.query("V1>0 & V3=='A'")

In [ ]:
subset_1=my_stat.loc[(my_stat.V1>0) & (my_stat.V3=='A')]

In [ ]:
#В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.
my_stat.query("(V2!=10)|(V4>=1)")

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
5     2  11.0  A  0.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[447 rows x 4 columns]

In [ ]:
subset_2=my_stat.loc[(my_stat.V2!=10) | (my_stat.V4>=1)]

In [9]:
import numpy as np
#V5 = V1 + V4
my_stat['V5']=my_stat['V1']+my_stat['V4']
my_stat['V6'] = np.log(my_stat['V2'])

In [10]:
#альтернативное решение
my_stat.eval('V5 = V1 + V4', inplace=True)
my_stat.eval('V6 = log(V2)', inplace=True)

In [11]:
my_stat= my_stat\
                                    .rename(columns=
                                            {'V1': 'session_value',
                                            'V2': 'group',
                                            'V3': 'time',
                                            'V4': 'n_users'})

In [16]:
my_stat.columns = ['session_value','group','time','n_users']

In [17]:
my_stat.set_axis(['session_value', 'group', 'time', 'n_users'], axis='columns', inplace=True)

<ipython-input-17-39abd2117da5>:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  my_stat.set_axis(['session_value', 'group', 'time', 'n_users'], axis='columns', inplace=True)

In [12]:
my_stat.head()

   session_value  group time  n_users   V5        V6
0              2   13.0    B      1.0  3.0  2.564949
1             -1    7.0    B      1.0  0.0  1.945910
2              0   11.0    A      0.0  0.0  2.397895
3              2   11.0    A      2.0  4.0  2.397895
4              0   10.0    B     -1.0 -1.0  2.302585

В dataframe с именем my_stat сохранены данные с 4 колонками: session_value, group, time, n_users.  

В переменной session_value замените все пропущенные значения на нули.

В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).

In [25]:
my_stat=pd.read_csv("my_stat_1.csv")
my_stat.session_value.fillna(0,inplace=True)
me=my_stat.n_users.median()
my_stat.loc[my_stat.n_users<0,'n_users']=my_stat[my_stat.n_users>=0].n_users.median()

<ipython-input-25-face5fed209c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_stat.n_users[my_stat.n_users < 0] = my_stat.n_users[~my_stat.n_users < 0].median()

для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.

Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [34]:
my_stat.groupby('group',as_index=False).agg({'session_value':'mean'}).rename(columns={'session_value':'mean_session_value'})

  group  mean_session_value
0     A                 0.8
1     B                 0.8